API_KEY=...changeme...

// The teamId to load
TEAMS_ID=6631,6632,6633,6634,6635,6636,7681,11902,12625,12855,13763,14019

// If some team caption must be rewritten for cosmetic purpose. format is VolleyManager_team1_caption:new_caption_for_team1,VolleyManager_team1_caption:new_caption_for_team2
TEAM_CAPTION_REPLACEMENT=Gibloux Volley:Gibloux Volley F1,Gibloux Volley F4 A:Gibloux Volley F4,Gibloux Volley F20A:Gibloux Volley F20
